<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.js"></script>
    <script src="app.js" defer></script>
    <title>Document</title>
</head>

<body>
    <div id="app">

            <v-app style="background-color:#e6f2ff;">

                <!-- App bar: title and 'About this module'-->
                <v-app-bar color="blue-darken-4">
                    
                    <v-app-bar-title style="position:absolute; left:28%; top:30%;">
                    Relationship Between Indigenous Knowledge, Whale Protection, and Maritime Commerce
                    </v-app-bar-title>

                    <v-spacer></v-spacer>

                    <!--'About this module' button that explains the concept and function of the module. Clicking it sets 'showHelp' to true-->
                    <!-- Doing so makes the dialog appear -->
                    <v-btn icon @click="showHelp = true">
                        <v-icon>mdi-help-circle-outline</v-icon>
                    </v-btn>
                </v-app-bar>

                <!-- Main content of the module -->
                <v-main @click="findCoordinates" style="background-color:#e6f2ff;">

                    <v-container fluid  style="background-color:#e6f2ff;">

                        <!-- Vuetify loop to generate the cards. Each object in the 'cards' array is defined locally as a 'card' -->
                         <!-- For each card, the colour of the border/text and position are set, and the cards' unique titles and descriptions are added. -->
                        <v-card v-for="card in cards" :key="card.title" width="20%" height="60%"
                            class="bg-blue-darken-4 pa-2 d-flex flex-column" style="position: absolute;"
                            :style="{left: card.x, top: card.y, zIndex: card.z}">

                            <v-img :src="card.image" height="50%" cover></v-img>

                            <v-card-title class="bg-white text-center">
                                {{card.title}}
                            </v-card-title>

                            <v-card-text class="bg-white text-center" style="height: 120px; overflow: hidden;">
                                {{card.description}}

                                    <!-- 'Learn More' button which uses 'toggleOpenClose' to set the card you click as the activeCard. -->
                                    <!-- This allows the card's unique details to be shown -->
                                    <div class="d-flex justify-center mt-4">
                                    <v-btn color="blue-darken-4" class="text-white" @click="toggleOpenCloseCard(card)">
                                    Learn More
                                    </v-btn>
                                    </div>

                            
                            </v-card-text>

                        </v-card>

                        <!-- Dialog for the cards in the deck -->
                        <!-- This is where the 'details' or the summary/analysis of our chosen texts can be read. -->
                        <!-- Collectively, the card 'details' provide different angles of the intersection of Indigenous knowledge and whale protection to the user. -->
                        <v-dialog v-model="showDetails" >
                            <v-card v-if="activeCard">
                                <v-card-title>
                                    {{ activeCard.title }}
                                </v-card-title>

                                 <v-img :src="activeCard.imageint" class="mx-auto" width="600" cover></v-img>

                                <v-card-text>
                                    {{ activeCard.details}}
                                </v-card-text>
                        <!-- Button in the bottom right of the card dialog card to exit the dialog window. Clicking it sets 'showDetails' back to false. -->
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn variant="text" @click="showDetails = false">
                                        Close
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>

                        <!-- Dialog for the 'About this module' button. The dialog appears when 'showHelp' is set to true. -->
                        <!-- This dialog exists to explain the concept (or theme) of our module, and how the user is meant to interact with it. --> 
                        <v-dialog v-model="showHelp" width="600">
                            <v-card>

                                <v-card-title>
                                    About this module
                                </v-card-title>

                                <v-card-text>
                                    This module explores the intersection of Indigenous knowledge, maritime commerce, and whale protection.
                                    Each card in the module presents a case study or research article exploring how Traditional Ecological Knowledge (TEK)
                                    interacts with environmental governance (particularly, whale protection) and/or maritime commerce. The focus is primarily
                                    on how TEK can be beneficial to environmental governance, but also includes potential conflicts with Western environmentalism.

                                <br><br>

                                Click "Learn More" on a card to read detailed information about that topic, and
                                use the slider at the bottom to navigate through the deck of cards.
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <!-- Button to close the 'About this module' card. Clicking it sets 'showHelp' back to false. -->
                                    <v-btn variant="text" @click="showHelp = false">
                                        Close
                                    </v-btn>

                                </v-card-actions>

                            </v-card>
                        </v-dialog>

                    </v-container>
                </v-main>

                <!-- Footer for the slider. The slider allows the user to move through the deck of cards and read more about whichever they'd like by centering it. -->
                <!-- The slider's value is linked to 'frontIndex' through v-model, and clicking the slider calls 'translateCards' to update the card positions. -->
                <!-- Currently, the slider must be clicked to move the cards. We could potentially improve it so that dragging the slider moves the cards in the next stage. -->
                <v-footer style="background-color:#e6f2ff;">
                    <v-row justify="center" style="margin-top: 30%">
                        <v-col cols="6">
                            <v-slider v-model="frontIndex" @click="translateCards" :min="0" :max="cards.length - 1"
                                step="1" thumb-label="always"></v-slider>
                        </v-col>
                    </v-row>
                </v-footer>
            </v-app>
    </div>

</body>

</html>